<nav id="sidebar" class="sidebar bg-dark">
        <div class="nav-logo">
            <a href="#"><img src="~/images/logo.png" width="145"></a>
        </div>
        <div style="position:relative; top:0; left:0;min-height:800px;">
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation" class="nav-item">
                    <a class="nav-link collapsed" data-toggle="collapse" href="#BootstrapExample" aria-expanded="false" aria-controls="BootstrapExample">
                        <span class="glyphicon glyphicon-th-list"></span>
                        Bootstrap
                    </a>
                    <ul class="nav nav-pills nav-stacked collapse" id="BootstrapExample">
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-action="/Bootstrap/Dropdown" onclick="goAction(this);">
                                <span class="glyphicon glyphicon-menu-right"></span>
                                下拉菜单
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-action="/Bootstrap/ButtonGroup" onclick="goAction(this);">
                                <span class="glyphicon glyphicon-menu-right"></span>
                                按钮组
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-action="/Bootstrap/ButtonDropdown" onclick="goAction(this);">
                                <span class="glyphicon glyphicon-menu-right"></span>
                                按钮式下拉菜单
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="glyphicon glyphicon-menu-right"></span>
                                输入框组
                            </a>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class="nav-item">
                    <a  class="nav-link collapsed" data-toggle="collapse" href="#DotnetCoreExample" aria-expanded="false" aria-controls="DotnetCoreExample">
                        <span class="glyphicon glyphicon-th-list"></span>
                        DonetCore
                    </a>
                    <ul class="nav nav-pills nav-stacked collapse" id="DotnetCoreExample">
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-action="/Todo/Index" onclick="goAction(this);">
                                <span class="glyphicon glyphicon-menu-right"></span>
                                Memory
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-action="/Blogs/Index" onclick="goAction(this);">
                                <span class="glyphicon glyphicon-menu-right"></span>
                                EF-NetCore
                            </a>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#AlgorithmExample" data-toggle="collapse" aria-expanded="false" aria-controls="AlgorithmExample">
                        <span class="glyphicon glyphicon-th-list"></span>
                        Algorithm
                    </a>
                    <ul class="nav nav-pills nav-stacked collapse" id="AlgorithmExample">
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-action="/Algorithm/Dijkstra" onclick="goAction(this);">
                                <span class="glyphicon glyphicon-menu-right"></span>
                                Dijkstra
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-action="#">
                                <span class="glyphicon glyphicon-menu-right"></span>
                                B-Tree
                            </a>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="glyphicon glyphicon-th-list"></span>
                        EChart
                    </a>
                </li>
            </ul>
        </div>
</nav>
