<nav class="topbar bg-white" style="position:relative">
    <div>
        <ul class="nav nav-tabs">
            <li class="top-nav-item dropdown" style="float:left !important;">
                <a class="nav-link" id="search" data-toggle="" data-flip="false" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-search"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-fullscreen" aria-labelledby="search">
                    <li>
                        <form class="form-inline my-2 my-lg-0 no-waves-effect">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-gradient waves-effect waves-light" type="button"><span class="gradient">Search</span></button>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </li>
            <li class="top-nav-item dropdown">
                <a class="nav-link" id="self" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                    liumin
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="self">
                    <li><a class="dropdown-item waves-effect waves-light" href="#">个人中心</a></li>
                    <li><a class="dropdown-item waves-effect waves-light" href="#">捐助</a></li>
                    <li><a class="dropdown-item waves-effect waves-light" href="#">退出</a></li>
                </ul>
            </li>
            <li class="top-nav-item dropdown">
                <a class="nav-link" id="news" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                    最新动态
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="news">
                    <li><a class="dropdown-item waves-effect waves-light" href="#">哈哈哈</a></li>
                    <li><a class="dropdown-item waves-effect waves-light" href="#">呵呵呵</a></li>
                    <li><a class="dropdown-item waves-effect waves-light" href="#">嘿嘿嘿</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
