@model lm.test.admin.Models.DotnetCore.Blog.Blog

<div class="panel panel-default panel-margin">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <h3>Are you sure you want to delete this?</h3>
        <h4>Blog</h4>
        <hr />
        <dl class="dl-horizontal" style="margin-left:-130px;">
            <dt>
                @Html.DisplayNameFor(model => model.Url)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Url)
            </dd>
        </dl>

        <form>
            <input type="hidden" asp-for="BlogId" />
            <input type="button" value="Delete" class="btn btn-default" data-action="/blogs/DeleteConfirmed/@Model.BlogId" onclick="goAction(this);" /> |
            <a data-action="/blogs/Index" href="#" onclick="goAction(this);">Back to List</a>
        </form>
    </div>
</div>
