@model lm.test.admin.Models.DotnetCore.Blog.Blog

<div class="panel panel-default panel-margin">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div>
            <h4>Blog</h4>
            <hr />
            <dl class="dl-horizontal" style="margin-left:-130px;">
                <dt>
                    @Html.DisplayNameFor(model => model.Url)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Url)
                </dd>
            </dl>
        </div>
        <div>
            <a data-action="/blogs/edit/@Model.BlogId" href="#" onclick="goAction(this);">Edit</a> |
            <a data-action="/blogs/index" href="#" onclick="goAction(this);">Back to List</a>
        </div>
        </div>
    </div>
