@model IEnumerable<lm.test.admin.Models.DotnetCore.Blog.Blog>

<div class="panel panel-default panel-margin">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <p>
            <a data-action="/blogs/Create" href="#" onclick="goAction(this);">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Url)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Url)
                        </td>
                        <td>
                            <a data-action="/blogs/Edit/@item.BlogId" href="#" onclick="goAction(this);">Edit</a> |
                            <a data-action="/blogs/Details/@item.BlogId" href="#" onclick="goAction(this);">Details</a> |
                            <a data-action="/blogs/Delete/@item.BlogId" href="#" onclick="goAction(this);">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
