@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="panel panel-default panel-margin col-md-5">
    <div class="panel-heading">基本实例</div>
    <div class="panel-body">
        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>
</div>

<div class="panel panel-default panel-margin col-md-6">
    <div class="panel-heading">按钮工具栏</div>
    <div class="panel-body">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-default">1</button>
                <button type="button" class="btn btn-default">2</button>
                <button type="button" class="btn btn-default">3</button>
                <button type="button" class="btn btn-default">4</button>
            </div>
            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-default">5</button>
                <button type="button" class="btn btn-default">6</button>
                <button type="button" class="btn btn-default">7</button>
            </div>
            <div class="btn-group" role="group" aria-label="">
                <button type="button" class="btn btn-default">8</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-margin col-md-5">
    <div class="panel-heading">尺寸</div>
    <div class="panel-body">
        <div class="btn-group btn-group-lg col-md-12" role="group" aria-label="">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
        <div class="btn-group col-md-12" role="group" aria-label="">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
        <div class="btn-group btn-group-sm col-md-12" role="group" aria-label="">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
        <div class="btn-group btn-group-xs col-md-12" role="group" aria-label="">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>
</div>

<div class="panel panel-default panel-margin col-md-6">
    <div class="panel-heading">嵌套</div>
    <div class="panel-body">
        <div class="btn-group" role="group" aria-label="">
            <button type="button" class="btn btn-default">1</button>
            <button type="button" class="btn btn-default">2</button>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default panel-margin col-md-5">
    <div class="panel-heading">垂直排列</div>
    <div class="panel-body">
        <div class="btn-group btn-group-vertical" role="group" aria-label="">
            <button type="button" class="btn btn-default">Left</button>
            <button type="button" class="btn btn-default">Middle</button>
            <button type="button" class="btn btn-default">Right</button>
        </div>
    </div>
</div>

<div class="panel panel-default panel-margin col-md-5">
    <div class="panel-heading">两端对齐</div>
    <div class="panel-body">
        <div class="btn-group btn-group-justified" role="group" aria-label="">
            <a class="btn btn-default">Left</a>
            <a class="btn btn-default">Middle</a>
            <a class="btn btn-default">Right</a>
        </div>
    </div>
</div>

<div class="panel panel-default panel-margin col-md-6">
    <div class="panel-heading">两端对齐</div>
    <div class="panel-body">
        <div class="btn-group btn-group-justified" role="group" aria-label="">
            <div class="btn-group" role="group" aria-label="">
                <button class="btn btn-default">Left</button>
            </div>
            <div class="btn-group" role="group" aria-label="">
                <button class="btn btn-default">Middle</button>
            </div>
            <div class="btn-group" role="group" aria-label="">
                <button class="btn btn-default">Right</button>
            </div>
        </div>
    </div>
</div>



