<div class="panel panel-margin col-md-7">
    <div class="panel-heading">初始BTree</div>
    <div class="panel-body">
        <div id="bTree"  style="height:550px;width:680px;">
            @Html.Partial("getTree")
        </div>       
    </div>
</div>
<div class="panel panel-margin col-md-4">
    <div class="panel-heading">操作</div>
    <div class="panel-body">
            @Html.Partial("getOperate")
    </div>
</div>

