@using lm.test.admin.Controllers;

<div class="panel panel-margin col-md-9">
    <div class="panel-heading">初始BTree</div>
    <div class="panel-body">
        <div id="bTree"  style="height:550px;width:680px;">
            @Html.Partial("getTree", BTreeController.treeData)
        </div>       
    </div>
</div>
<div class="panel panel-margin col-md-2">
    <div class="panel-heading">操作</div>
    <div class="panel-body">
            @Html.Partial("getOperate")
    </div>
</div>

